<h1> Hi <%= @user.first_name %> <%= @user.last_name %></h1>

<p>
  You have requested to reset your password. To complete this please click the following link below: 
</p>
<%=link_to edit_password_url(@user.reset_password_token), edit_password_url(@user.reset_password_token) %>


<p>
  Your password will not be changed if you omit this email.
</p>


<p>
  The Property team
</p>
