<h1> Hi <%= @user.first_name %> <%= @user.last_name %></h1>

<p>
  You account has been <%=@user.blocked_status %>
</p>

<p>
  Please contact us <%=ENV['EMAIL_SUPPORT']%> for more information
</p>


<p>
  The Property team
</p>
