.alert-animate {
  position: absolute;
  left: 50%;
  top: -80px;
  z-index: 9999;
  .alert-body{
    position: relative;
    left: -50%;
    box-shadow: $box-shadow;
    background: #eee;
    min-width: 300px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    @include border-radius(5px);
    border: 1px solid #fff;
  }
}

label.required abbr{
  color: red;
  font-weight: bold;
}

form {
  max-width: 600px;
  padding: 20px;
}