label.required abbr{
  color: red;
  font-weight: bold;
}

.form-lg {
  min-width: $screen-lg-min;
}

.input-row {
  margin-bottom: 10px;
}

label.inline {
  display: inline;
  width: auto !important
}

.form {
  @include form-inline(13em);
}

.img-preview {
  width: 60px;
  height: 60px;
}

.action-header {
}

.section-header {
  font-size: 120%;
  margin: 15px -15px 5px;
  padding: 5px 15px;
  padding-top: 15px;
}

.vertical-border-right{
  border-right: 1px dashed #ccc;
  margin-right: 10px;
  padding: 0 10px;
}

.btn-form-action {
  margin-left: -4px;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}
#notification {
  right: 25px;
  top: 65px;

  position: fixed;
  display: block;
  z-index: 9999;
  min-width: 320px;
  @include border-radius(5px);
  border: 1px solid #eee;
}
.error {
  color: red;
}

small.error {
  padding-left: 10px;
}

.edge-left {
  margin-left: -15px;
}
.edge-right {
  margin-right: -15px;
}
.navbar-brand{
  margin-top: -6px;
  color: #fff;
  &:hover {
    
  }
}

.label-checkbox {
  padding-left: 15px;
  width: auto !important;
  .input-inline {
    margin-right: 10px;
  }
}

.checkbox-grid {
  margin: 10px 10px 10px 0px !important;
}

.small-thumb {
  height: 24px;
  margin-bottom: -10px;
  margin-top: -10px;
  width: 24px;
}

.medium-thumb {
  height: 64px;
  width: 64px;
}

.exp-step {
  padding: 0 0 0 10px;
  li {
    list-style-type: ideograph-numeric;
    padding: 5px 0px;
  }
}
.space-right {
  margin-right: 5px;
}
.img-frame {
  background: #fff;
  @include border-radius(5px);
  padding: 6px;
}
.no-space {
  padding: 0;
  margin: 0;
}
.highlighter {
  &:hover {
    background: #ffe;
  }
}
.overflow-hidden {
  overflow: hidden;
}

.section-detail {
  padding: 5px 0;
  margin-left: 10px;
  border-bottom: 2px dotted #eee;
  label {
    display: inline-block;
    width: 120px;
  }

  &:last-child {
    border-bottom: none;
  }
  .section-value {
    // margin-left: 120px;
    padding-left: 10px;
  }
}

.home-tagline {
  height: 350px;
  background-color: #f8f8f8;
  background-repeat:no-repeat;
  background-size:100%;
  background-position:center;
  margin-bottom: 10px;
  position: relative;
}

.rounded {
  @include border-radius(5px);
}

.rounded-top {
  @include border-radius-top(5px);
}

.box {
  margin-top: 10px;
  background: #f7f7f7;
  padding: 10px;
  padding-top: 0;
  @include border-radius(5px);
}

.box-trans {
  margin-top: 10px;
  background: rgba(255,255,255,0.9);
  padding: 10px;
  padding-top: 0;
}

.content-body {
  padding-top: 10px;
}
