<% content_for(:title) { "Sign up" } %>

<div class='row'>
  <div class='col-lg-6'>
    <%= render 'form' %>
  </div>

  <div class='col-lg-6'>
    <%=link_to '#', class: 'fb-login btn btn-lg btn-social btn-facebook', data: { url: sign_up_fb_path } do %>
      <i class='fa fa-facebook'> </i> Create With Facebook
    <% end %>
    <br/>
    <div class='input-row'></div>
    <%=link_to @koala_auth.url_for_oauth_code(:callback => sign_up_fb_m_url), class: 'btn btn-lg btn-social btn-facebook' do %>
      <i class='fa fa-facebook'> </i> Create With Facebook Mobile
    <% end %>
  </div>
</div>