<!-- Feature -->
<% features = property.features_list_for(Property.stored_attributes[:config_features]) %>
<% if features.length > 0 %>
  <div class="section-panel box">
    <h3 class='section-header'>Features</h3>
    <div class='section-detail'>
      <%= tag_facilities(features) %>
    </div>
  </div>
<% end %>

<!-- Equipment -->
<% equipments = property.features_list_for(Property.stored_attributes[:config_equipments])%>
<% if equipments.length > 0 %>
  <div class="section-panel box">
    <h3 class='section-header'> Equipments</h3>
    <div class="section-detail">
      <%= tag_facilities(equipments) %>
    </div>
  </div>
<% end %>

<!-- Services -->
<% services = property.features_list_for(Property.stored_attributes[:config_services])%>
<% if services.length > 0 %>
  <div class="section-panel box">
    <h3 class='section-header'> Services</h3>
    <div class='section-detail'>
      <%= tag_facilities(services) %>
    </div>
  </div>
<% end %>