<div id="slider-container"
     style="position: relative; top: 0px; left: 0px; width: 560px; height: 360px; ">
  
  <!-- Loading Screen -->
  <div u="loading" style="position: absolute; top: 0px; left: 0px;">
      <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
          background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
      </div>
      <div class='slider-loading'>
        <%=image_tag 'loading.gif', class: 'img-circle' %>
      </div>
  </div>

  <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; bottom: 0; right: 0;">
    <% property.photos.each do |photo| %>
      <div style='width: 100%; height: 300px;'>
        <%= image_tag photo.image_name.standard.url, class: '', u: 'image' %>
        <%= image_tag photo.image_name.thumb.url, class: '', u: 'thumb' %>
      </div>
    <% end %>
  </div>

  <!-- Arrow Left -->
  <span u="arrowleft" class="jssora02l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
  </span>
  <!-- Arrow Right -->
  <span u="arrowright" class="jssora02r" style="width: 55px; height: 55px; top: 123px; right: 8px">
  </span>
  <!-- Arrow Navigator Skin End -->
  
  <!-- ThumbnailNavigator Skin Begin -->
  <div u="thumbnavigator" class="jssort03" style="position: absolute; width: 560px; height: 60px; left:0px; bottom: 0px;">
    <div style=" background-color: #000; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;"></div>

    <div u="slides" style="cursor: move;">
      <div u="prototype" class="p" style="position: absolute; width: 62px; height: 32px; top: 0; left: 0;">
        <div class=w>
          <div u="thumbnailtemplate" style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></div>
        </div>
        
        <div class=c style="position: absolute; background: #000; top: 0; left: 0"> </div>
      </div>
    </div>
      <!-- Thumbnail Item Skin End -->
  </div>
</div>
