<%= paginate(@properties) %>

<div class='row'>
  <div class='col-lg-8'>
    <ul class='no-space'>
    <% @properties.each do |property| %>
      <%= render "property", property: property %>
    <% end %>
    </ul>
  </div>

  <div class='col-lg-4'>
   <%= render "shared/properties/search" %>
  </div>
</div>