<%= page_title @property.title %>
<% sections = { detail: :detail, photos: :photos, contact: :contact, map: :map} %>
<% tab = params[:tab] || 'general' %>


<%= render 'show_tab', property: @property, tab: tab %>
<!-- <p class='line' style='margin-top: 20px;'> <%#= render tab, property: @property %> </p> -->
<div class="" style='margin-top: 20px;'>
  <%= render tab, property: @property %>
</div>






