@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin form-inline($width) {
  label {
    width: $width;
    margin-right: 0.5em;
  }
  .selectpicker {
    
  }
}