.form-control {
  padding-left: 5px !important;
}
.form-inline {
  .form-control {
    width: 15em;
  }
  label {
    width: 12em !important;
  }
}

input {
  padding-left: 5px;
}

.form-search {
  .form-control {
    display: inline !important;
  }
}

.btn-group {
  a {
    padding: 5px 20px;
  }
}