$base_font_family: "Helvetica Neue",Arial,sans-serif;
$box-shadow: 0 4px 8px 3px #eee, 0 0 0 1px #eee;
$button-radius: 4px;
$radius: 4px;

$app-bg-color: #429363;
$app-hl-color: #287046;
$app-div-color: #639d6f;