# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6bc7ffc575d67961b57f74a0f09aff1bb3b89f0d87dd041e3654de27494b3343dc02ff140246fc72fc6f211ac49e07e166869c4481dedbc5ea2ac3ce12479521

test:
  secret_key_base: a1ee969c611fb027475946be7580e121ae097862e9071489a3b34e72c3082e873cf1931c27efe47b1c4ee4c1b39d404e4677806eec24ada2ff99966e99bb1cb6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
