.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: auto;
}

#uploaded-images{
  padding: 0px;
  margin: 0px;
}

.unit {
  width: 3em;
  .selectpicker {
    width: 6em !important;
  }
}
.wrapper-area-field, .wrapper-unit-field {
  display: inline !important;
}

#property_area {
  width: 6em !important;
}

#selected-images {
  .media-body {
    display: table-cell;
    vertical-align: middle;
  }
}
.media-sep {
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;

}

.btn-img-removal {
  background-color: #d1d1d1;
  border-radius: 15px;
  display: block;
  height: 28px;
  padding-left: 7px;
  padding-top: 7px;
  position: absolute;
  right: 0;
  top: -14px;
  width: 28px;
  text-decoration: none;
  &:hover {
    font-weight: bold;
    text-decoration: none;
  }
}

.property_area small.error {
  display: none;
}

$sortable-height: 200px;
.thumbnail{
  height: $sortable-height;
  overflow: hidden;
}

.sortable li {
  cursor: move;
  list-style-type: none;
}

.sortable-placeholder {
  border: 1px dotted #ccc;
  @include make-lg-column(3);
  @include make-md-column(3);
  height: $sortable-height;
}

.p-item {
  border: 1px solid #f7f7f7;
  margin-bottom: 15px;
  @include border-radius(5px);
  background-color: #eee;
  .media{
    position: relative;
  }
  .media-body {
    padding: 10px 0;
  }
}

.p-item img.media-object{
   width: 120px;
   height: 120px;
   border-radius: 5px 0 0 5px;
}
.verification{
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#p-map {
  min-height: 350px;
  background-color: #eee;
}

