.navbar{
  margin-bottom: 0;
  min-height: 0;
}

.navbar-toggle{
  padding: unset;
}

.top-nav{
  background: $app-bg-color;
  border-bottom: 1px solid $app-div-color;

  .navbar-brand {
    line-height: unset;
    padding: unset;
    height: unset;
    margin-top: 4px;
  }

  .nav > li.item-btn {
     a {
        color: $menu-text-color;
        background: $menu-btn-bg-color;
        font-weight: 500;
        padding: 10px 15px;
        line-height: 12px;
        margin-top: 4px;
        margin-left: 5px;
        &:hover {
          color: $menu-text-color-hover;
          background: $menu-btn-bg-color-hover;
        }
     }
  }

  .nav > li.active {
    a {
      color: $app-bg-color;
      font-weight: 500;
      padding: 10px 15px;
      line-height: 12px;
      margin-top: 4px;
      margin-left: 5px;
      @include border-radius(5px);

      &:hover, &:focus {
        color: $menu-text-color;
        background: $app-hl-color;
      }
    }
  }

  .nav > li > a {
    padding: 10px 15px;
    color: $menu-text-color;
    font-size: 110%;
    &:hover, &:focus {
      background: $app-bg-color;
      color: $menu-text-color;
    }
  }

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: $app-hl-color;
  }

  .dropdown-menu {
    background: $app-bg-color;
  }
  .dropdown-menu .divider {
    background: $app-div-color;
  }

  .dropdown-menu > li > a {
    color: $menu-text-color;
    &:hover, &:focus {
      background: $app-hl-color;
      color: $menu-text-color;
    }
  }

  .dropdown-menu > li:active {
    background: #fff;
    font-weight: bold;
    a {
      color: $app-bg-color;
    }
  }
}

.dropdown-menu .divider {
  margin: 3px 0;
}
