.top-nav{
  background-color: #5bc0de;
  border-bottom: medium none #46b8da;
}

.nav > li > a {
  color: #fff;
  &:hover, &:focus {
    background-color: #46b8da;
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #46b8da;
}

.dropdown-menu {
  background-color: #5bc0de;
}
.dropdown-menu .divider {
  background-color: #46b8da;
}

.dropdown-menu > li > a {
  color: #fff;
  &:hover, &:focus {
    background-color: #46b8da;
    color: #fff;
  }
}
