.navbar{
  margin-bottom: 0;
  min-height: 0;
}

.top-nav{
  background-color: $app-bg-color;
  border-bottom: 1px solid $app-div-color;

  .navbar-brand {
    line-height: unset;
    padding: unset;
    height: unset;
    margin-top: 4px;
  }

  .nav > li.active, .nav > li.item-btn {
    a {
      color: $app-bg-color;
      font-weight: 500;
      padding: 10px 15px;
      line-height: 12px;
      margin-top: 4px;
      margin-left: 5px;
      @include border-radius(5px);

      &:hover, &:focus {
        color: $app-bg-color;
        background-color: #fff;
      }
    }
  }
  .nav > li.active a {
    background-color: #fff;
  }

  .nav > li.item-btn a {
    background-color: $app-hl-color;
    color: #fff;
  }

  .nav > li > a {
    padding: 10px 15px;
    color: #fff;
    &:hover, &:focus {
      background-color: $app-bg-color;
    }
  }

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: $app-hl-color;
  }

  .dropdown-menu {
    background-color: $app-bg-color;
  }
  .dropdown-menu .divider {
    background-color: $app-div-color;
  }

  .dropdown-menu > li > a {
    color: #fff;
    &:hover, &:focus {
      background-color: $app-hl-color;
      color: #fff;
    }
  }

  .dropdown-menu > li:active {
    background-color: #fff;
    font-weight: bold;
    a {
      color: $app-bg-color;
    }
  }
}
